
	<div class="jumbotron" style="padding: 30px 10px;">
	  <div style="margin-bottom: 20px">
	  	<div class="row">
	  		<div class="col-md-3 col-lg-3">
	  			<button type="button" class="btn btn-default btn-block btn-lg" id="users">Users Panel</button>
	  		</div>
	  		<div class="col-md-3 col-lg-3">
	  			<button type="button" class="btn btn-default btn-block btn-lg" id="users_categories">Users Categories Panel</button>
	  		</div>
	  	</div>
	  </div>
	  <div id="users_panel">
		<div class="row">
			<div class="col-md-5">
				<div class="well">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h2 class="panel-title" style="text-align: center;">ALL PENDING USERS</h2>
						</div>
						<div id="pending_users">
						  <ul style="padding: 0 20px;">
						 	<%= render 'pending_user' %>
						  </ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
			  <div class="well">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h2 class="panel-title" style="text-align: center;">ALL ACTIVE USERS</h2>
					</div>
				  	<div id="active_users">
				  	  <ul style="padding: 0 20px;">
						<%= render 'user' %>
					  </ul>
				 	</div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
	  <div id="users_categories_panel">
	  		<div class="row">
	  			<div class="col-md-4">
	  				
	  				<div class="panel panel-primary">
	  					<div class="panel-heading">
	  					 	<h2 class="panel-title">ADD DOCUMENT CATEGORIES</h2>
	  					</div>
	  					<div class="panel-body">
	  					  <div id="category_form">
	  					  		<%= render 'category_form' %>
						  </div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="col-md-6 col-md-offset-2">
	  			  <div class="panel panel-default">
	  			    <div class="panel-heading">
					 	<h2 class="panel-title">USERS CATEGORIES ACCESS</h2>
				    </div>
					<div class="panel-body">
			 			 <div id="category_users">
							<%= render 'category_users' %>
						</div>
					</div>
	  			 </div>
	  		   </div>
	  		</div>
	  </div>
	</div>
