<div class="jumbotron" style="padding: 30px 10px;">
  <div style="margin-bottom: 20px">
  <button type="button" class="btn btn-default" id="users">Users Panel</button>
  <button type="button" class="btn btn-default" id="users_categories">Users Categories Panel</button>
  </div>
  <div id="users_panel">
	<div class="row">
		<div class="col-md-5">
			<div class="well">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title" style="text-align: center;">ALL PENDING USERS</h2>
					</div>
					<div id="pending_users">
					 	<%= render 'pending_user' %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="well" style="padding: 20px !important;">
	  	  		<h3 class="panel-title" style="text-align: center;">ALL ACTIVE USERS</h3>
				  	<div id="active_users">
						<%= render @users %>
				 	</div>
			</div>
		</div>
	</div>
  </div>
  <div id="users_categories_panel">
  		<div class="row">
  			<div class="col-md-4">
  				
  				<div class="panel panel-primary">
  					<div class="panel-heading">
  					 	<h2 class="panel-title">ADD DOCUMENT CATEGORIES</h2>
  					</div>
  					<div class="panel-body">
  					  <div id="category_form">
  					  		<%= render 'category_form' %>
					  </div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4">
  			  <div id="category_users">
  				<%= render 'category_users' %>
  			  </div>
  			</div>
  		</div>
  </div>
</div>

