/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-table";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
 @import "select2";
 @import "select2-bootstrap";

.navbar-inverse .navbar-brand {
	color: white;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Indie Flower', cursive;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

#category-form {
	margin: 10px 0;
	padding: 15px;
	background: lightgrey;
	border-radius: 3px;
}

.navbar {
	border-radius: 0px;
}

.container {
	padding-left: 5px;
	padding-right: 5px;
}

.link-no-underline {
	text-decoration: none !important;
}

#users_categories_panel {
	display:none;
}




