<% unless @category.nil? %>
	<% unless @category.documents.empty? %>
	<h3>All <%= @category.name %> Documents</h3>
	<% else %>
	<h3>No <%= @category.name %> Documents</h3>
	<% end %>
	<div class="row">
		<% @category.documents.each do |document| %>
		 
		  <div class="col-md-9" style="margin: 10px 0;">
			<%= link_to document.document.url.split('/')[-1].gsub(/ *\?+\d+$/, ''), document.document.url, target: "_blank" %>
		  </div>
		  <div class="col-md-3" style="margin: 7px 0;">
		    <div class="pull-right">
		  		<%= link_to "Delete", delete_document_category_path(document_id: document.id), remote: true, method: :delete, class: "btn btn-danger" %>
		  	</div>
		  </div>

		<% end %>
	</div>
<% end %>