<% unless @category.nil? %>
	<% unless @category.documents.empty? %>
	<h3>All <%= @category.name %> Documents</h3>
	<% else %>
	<h3>No Documents for <% @category.name %></h3>
	<% end %>
	<% @category.documents.each do |document| %>
		<%= link_to document.document.url.gsub(/[^A-Za-z0-9]+/, ' '), document.document.url, target: "_blank" %>
	<% end %>
<% end %>