
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to new_category_path, remote: true do %>
          <button class="btn btn-default" style="margin: 20px 0;"><span class="glyphicon glyphicon-plus"></span>Add Category</button><% end %>
        <div id="category-form" style="display: none;">
            <%= render 'form' %>
        </div>
        <div id="show-documents" style="display: none;">
            <%= render 'documents' %>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h3>Document Categories</h3>
          <div class="well">
              <div class="row">
                <div class="col-md-12">
                    <ul>
                      <div id="categories" style="border-bottom: 1px solid gray;">
                        <%= render @categories %>
                      </div>
                    </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>


